$main-color:#993366;
$second-color: whitesmoke;
$game-widht: 800px;
$game-height: 500px;
$puzzle-height: 50px;

.main {
  padding: 0 50px;
  height: 100vh;
  background-image: url('../../assets/img/startbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.resualt {
  width: $game-widht;
  height: $game-height;
  background-image: url("../../assets/img/puzzle.jpg");
  background-position: center;
  background-size: $game-widht $game-height;
  background-repeat: no-repeat;
  margin: 0 auto;
  border: 10px double $main-color;
  border-radius: 10px;
  overflow: hidden;
}
.puzzle {
  height: $puzzle-height;
  line-height: $puzzle-height;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px 5px black, 0 0 15px black;
  background-image: url("../../assets/img/pict (2).jpg");
  background-color: $main-color;
  background-size: $game-widht $game-height;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  box-sizing: border-box;
  color: $second-color;
  user-select: none;
  font-weight: bold;
}
.source {
  display: flex;
  width: $game-widht;
  height: $puzzle-height;
  margin: 20px auto;
  border: 5px double $main-color;
  overflow: hidden;
}
.controls {
  display: flex;
  justify-content: center;
}

.resualt_round {
  display: flex;
  height: $puzzle-height;
}

.resualt_active {
  border-top: 3px dashed $main-color;
  border-bottom: 3px dashed $main-color;
}

.dragndrop {
  z-index: 10;
  position: absolute;
}