$hinst-audio-size:50px;
.menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 50px;
}
.hints {
  margin: 0 auto;
  text-align: center;
}
.hints__audio {
  background-image: url('../../assets/img/sound.svg');
  background-size: $hinst-audio-size - 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: $hinst-audio-size;
  height: $hinst-audio-size;
  display: inline-block;
}
.hints__audio_play {
  background-image: url('../../assets/img/sound_bg.svg');
}