@import "~normalize.css";
@font-face {
    font-family: "fancyfonts";
    src: url("../../assets/fonts/literata.ttf");
}
$main-color: #fff;
$sunsize: 150px;
$border-style: 3px outset whitesmoke;
*,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
html,
body,
.grid-container {
    height: 100%;
}
html {
    background-image: url("../../assets/img/weather-forecast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    background-repeat: no-repeat;
    background-size: cover;
    color: $main-color;
    font-size: 2.5vmin;
    font-family: "fancyfonts";
    transition: background-image 1s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
        "control control control"
        "weather weather map"
        "weather weather map"
        "weather weather map";
}

.control {
    grid-area: control;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0 25px;
    h1 {
        line-height: 35px;
    }
}

.control__setting_btn {
    width: 70px;
    height: 35px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: $main-color;
    z-index: 1;
}
.control__setting_btn:hover {
    color: #6495ed;
    background-color: whitesmoke;
}
.control__setting_temp,
.control__setting_lang {
    display: flex;
    justify-content: space-between;
    border: $border-style;
    height: 35px;
    border-radius: 10px;
    z-index: 2;
}

.search {
    display: inline-flex;
    input,
    button {
        border: $border-style;
        color: $main-color;
        outline: none;
        height: 35px;
        background: transparent;
    }
    .search__input {
        border-radius: 10px 0 0 10px;
        border-right: none;
        padding-left: 10px;
    }
    .search__country_code {
        border-right: none;
        border-left: none;
        width: 50px;
    }
    .search__country_code::placeholder {
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.65);
    }
    .search__button {
        padding: 0 10px;
        color: $main-color;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        border-left: none;
        height: 41px;
        background: #6495ed;
    }
    .search__button:hover {
        color: #6495ed;
        background: whitesmoke;
    }
}
.weather {
    display: grid;
    grid-template-columns: 3fr 1fr 1.7fr;
    grid-template-rows: 0.5fr 0.75fr 0.75fr 1.5fr;
    gap: 1px 1px;
    grid-template-areas:
        "weather__header weather__header weather__header"
        "weather__temp_m weather__temp_m weather__ico_m"
        "weather__temp_m weather__temp_m weather__description"
        "weather__days weather__days weather__days";
    grid-area: weather;
}

.weather__header {
    grid-area: weather__header;
    display: flex;
    justify-content: center;
}
.weather__header__wrap {
    text-align: center;
}
.weather__temp_m {
    grid-area: weather__temp_m;
    font-size: 8em;
    text-align: center;
}
.weather__day_temp {
    sup {
        font-size: 0.7em;
    }
}

.weather__ico_m {
    grid-area: weather__ico_m;
}
.weather__ico {
    background: url("../../assets/img/icons/climacon-cloud_lightning_sun.svg");
    filter: brightness(0) invert(1);
    // https://codepen.io/sosuke/pen/Pjoqqp
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.weather__description {
    grid-area: weather__description;
}

.weather__days {
    grid-area: weather__days;
    display: flex;
    justify-content: space-around;
}
.weather__day {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    .weather__day_wrap {
        display: flex;
        font-size: 1.5em;
        line-height: 1.5em;
        align-items: center;
        .weather__ico {
            height: 100px;
            width: 100px;
        }
    }
    .weather__desctription_summary {
        font-style: italic;
        text-transform: capitalize;
        font-size: 0.8em;
    }
}
.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
        "map__mapbox map__mapbox"
        ". map__cord";
    grid-area: map;
}

.map__mapbox {
    grid-area: map__mapbox;
    margin: 0 5%;
    -webkit-mask-image: url("../../assets/img/map_mask4.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.map__cord {
    grid-area: map__cord;
    text-align: center;
}
@media (max-width: 1200px) {
    .control {
        margin: 40px 0;
    }
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .weather {
        grid-template-columns: 1fr 2fr 1.5fr;
        grid-template-rows: 0.2fr 0.45fr 0.45fr 0.5fr;
        gap: 1px 1px;
    }
    .map {
        width: 80%;
        height: 20%;
    }
    .map__mapbox {
        grid-area: map__mapbox;
        -webkit-mask-image: url("../../assets/img/map_mask5.png");

        margin: 0 5%;
        width: 90%;
    }
    .map__cord {
        text-align: left;
    }
}
@media (max-width: 769px) {
    .control {
        flex-direction: column;
        margin: 0 auto;
        h1 {
            margin: 0 auto;
        }
    }
    .control__setting_temp,
    .control__setting_lang {
        border: none;
        display: block;
        position: fixed;
        top: 10px;
    }
    .control__setting_temp {
        left: 10px;
    }
    .control__setting_lang {
        right: 10px;
    }
    .control__setting_btn {
        border-radius:10px;
        display: block;
        background-color: #6495ed;
        border: $border-style;
        color: $main-color;
        margin-bottom: 5px;
    }
    .control__setting_btn:hover {
        color: #6495ed;
        background-color: whitesmoke;
    }
    .weather__days {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .weather__day_wrap {
        justify-content: center;
    }
}
@media (max-width: 415px) {
    html {
        background-size: auto;
    }
    body {
        height: auto;
        font-size: 3.5vmin;
    }
    .weather {
        grid-template-rows: 0.1fr 0.25fr 0.05fr 1fr;
    }
    .control__setting_temp,
    .control__setting_lang {
        bottom: 100px;
        top: auto;
    }
}
