@font-face {
  font-family: "literata";
  src: url("../../assets/fonts/literata.ttf");
}
$font-color: whitesmoke;
$main-color:#993366;
$second-color: whitesmoke;
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  color: $font-color;
  font-size: 2.5vmin;
  font-family: "fancyfonts";
  background-color:#fff9e2;
  // background-image: url('../../assets/img/startbg.jpg');
}
button, .button{
  border: 2px solid $second-color;
  padding: 5px 15px;
  background-color: $main-color;
  border-radius: 5px;
  color: $second-color;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
button:hover, .button:hover {
  background-color: $second-color;
  border-color: $main-color;
  color: $main-color;
}
.button_checked {
  background-color:#ffc107;
}
.hidden {
  display: none;
}
.hidden_button {
  visibility: hidden;
}
.puzzle_correct {
  border-bottom: 3px solid greenyellow;
}
.puzzle_wrong {
  border-bottom: 3px solid red;
}