* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #1f1f1f;
    color: whitesmoke;
}
.header {
    padding: 30px 0;
}
.header__title {
    margin: 0 auto;
    width: fit-content;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 106px;
}
.footer__link {
    color: whitesmoke;
    text-decoration: none;
}
.footer__link:hover {
    color: #f60;
}