.search {
    position: relative;
    text-align: center;
    height: 65px;
    padding-top: 15px;
    margin: 0 0 20px;
}

.search__input {
    width: 40vw;
    margin-top: 6px;
    margin-right: 5vw;
    border-radius: 15px;
    height: 36px;
    padding-left:20px;
    padding-right: 10px;
    border: 1px solid #dfe1e5;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 36px;
    opacity: 0.8;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    transition: all 0.3s;
}

.search__input:hover {
    box-shadow: 0 4px 9px 0 rgba(32,33,36,0.28);
}

.search__input:focus {
    padding-left: 40px;
    background-image: url("../../assets/img/search_bg.png");
}

.search__button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: whitesmoke;
    border-radius: 18px;
    width: 150px;
    height: 50px;
    border: 1px outset transparent;
    outline: none;
    transition: all 0.5s;
}

.search__button:hover {
    background-position: right center;
    border: 1px outset #F09819;
    box-shadow: 0 4px 9px 0 rgba(32,33,36,0.28);
}
.search__clear {
    position: relative;
    cursor: pointer;
    color:#1f1f1f;
    right: 9.5vw;
    top: 3px;
    font-size: 24px;
    font-weight: bold;
}
.search__clear:hover{
    color: #FF512F;
}
.search__keyboard {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color:#1f1f1f;
    right: 9vw;
    top: 10px;
    width: 26px;
    height: 26px;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/img/keyboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.search__keyboard:hover {
    background-image: url('../../assets/img/keyboard_hover.png');
}
.search__info {
    color: brown;
}

.search__loading {
    width: 30px;
}

@media (max-width: 1500px) {
    .search__clear{
        right: 13vw;
    }
    .search__keyboard {
        right: 12vw;
    }
}

@media (max-width: 1218px) {
    .search__keyboard{
        display: none;
    }
    .search__clear{
        right: 9vw;
    }
}

@media (max-width: 756px) {
    .search__clear{
        right: 11vw;
    }
}

@media (max-width: 440px) {
    .search {
        height: 50px;
    }
    .search__input {
        width: 70vw;
        margin-right: 0;
    }
    .search__button {
        display: none;
    }
}